<div class="footer">
	<div class="container">
		<div class="footer__list">
			<div class="footer__wrap footer__wrap--first">
				<a href="">
					<img src="/template/img/logo.svg" alt="" />
				</a>
			</div>
			<div class="footer__list-wrap footer__wrap">
				<div class="footer__item">
					<a class="footer__links-title" href="https://furniture.neryxomka.com">Furniture CRM</a>
					<a href="https://furniture.neryxomka.com/plan" class="footer__link">Business Plan</a>
					<a href="https://furniture.neryxomka.com/profile" class="footer__link">Demo App</a>
					<a href="https://furniture.neryxomka.com/wiki" class="footer__link">Wiki</a>
				</div>
				<div class="footer__item">
					<a class="footer__links-title" href="https://neryxomka.com/realestates">Real Estates</a>
					<a href="https://neryxomka.com/realestates" class="footer__link">Near me</a>
					<a href="https://neryxomka.com/realestates" class="footer__link">Ukraine</a>
				</div>
				<div class="footer__item">
					<a class="footer__links-title" href="https://neryxomka.com/products">Products</a>
					<a href="https://neryxomka.com/products" class="footer__link">Tables</a>
					<a href="https://neryxomka.com/products" class="footer__link">Kitchen</a>
				</div>
			</div>
			<div class="footer__wrap footer__wrap--last">
				<div class="footer__wrap-socials">
					<a href="" class="footer__btn btn">
						<img src="/template/img/social/1.svg" alt="" />
					</a>
					<a href="tel:+380960786786714" class="footer__btn btn">
						<img src="/template/img/social/2.svg" alt="" />
					</a>
				</div>
				<div class="footer__wrap-socials">
					<a href="https://twitter.com/neryxomka" target="_blank" class="footer__btn btn">
						<img src="/template/img/social/3.svg" alt="" />
					</a>
					<a href="https://www.facebook.com/profile.php?id=100090910920539" class="footer__btn btn">
						<img src="/template/img/social/4.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>